# directories
**/bin/
**/obj/
**/out/

# files
Dockerfile*
**/*.md
.dockerignore
.git

*.db
*.db-shm
*.db-wal

Myamtech.Terraria.DiscordBot/appsettings.*.json
Myamtech.Terraria.DiscordBot/terraria.json